[submodule "libs/dirent"]
	path = libs/dirent
	url = https://github.com/tronkko/dirent
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "libs/imgui_filedialog"]
	path = libs/imgui_filedialog
	url = https://github.com/aiekick/ImGuiFileDialog
	branch = Lib_Only
[submodule "libs/--force"]
	path = libs/--force
	url = https://github.com/thestk/rtmidi
	branch = releases
[submodule "libs/rtmidi"]
	path = libs/rtmidi
	url = https://github.com/thestk/rtmidi
	branch = releases
